.main-details-container {
}
.title-hr {
  width: 50px;
  height: 4px;
  border-radius: 3px;
  position: relative;
  left: calc(45% - 100px);
  background-color: rgb(11, 7, 43);
  color: rgb(11, 7, 43);
  opacity: 1;
  transition: 0.3s linear;
}
.title:hover .title-hr {
  width: 150px;
  transition: 0.3s linear;
}
.main-detail {
  background-color: #f7f8f9;
}

.main-detail:hover {
  transition: 0.2s ease-in-out;
  transform: scale(1.1);
}

.desc {
  font-size: 14px;
}
.pattern-container {
  width: 100%;
}
.each-pattern {
  flex-grow: 1;
  max-width: 300px !important;
  border-top: 2px solid rgb(20, 20, 50);
}
.each-pattern:hover {
  transition: 0.2s linear;
  transform: scale(1.1);
}
