.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: #e6f6ff;
}

@media screen and (min-width: 768px) {
  .home-container {
    flex-direction: row;
    justify-content: space-around;
    padding-top: 2px;
  }
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .home-content {
    align-items: flex-start;
  }
}

.home-mobile-img {
  width: 206px;
}

@media screen and (min-width: 768px) {
  .home-mobile-img {
    display: none;
  }
}

.home-desktop-img {
  width: 50%;
  max-width: 450px;
  margin-left: 85px;
}

@media screen and (max-width: 767px) {
  .home-desktop-img {
    display: none;
  }
}

.home-heading {
  color: #1e293b;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 35px;
  line-height: 1.2;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .home-heading {
    font-size: 35px;
    text-align: left;
  }
}

.home-description {
  font-family: 'Roboto';
  margin-top: 10px;
  font-size: 18px;
  line-height: 26px;
  color: black;
  margin-bottom: 0px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .home-description {
    font-size: 20px;
    margin-top: 0px;
    text-align: left;
  }
}
.button-container {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .button-container {
    display: flex;
    flex-direction: row;
  }
}
.download-button {
  font-size: 17px;
  font-weight: 400;
  font-family: 'Roboto';
  color: #ffffff;
  border: none;
  width: 35vh;
  border-radius: 4px;
  background-color: #511aad;
  margin-top: 20px;
  cursor: pointer;
  outline: none;
  padding: 10px;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .download-button {
    width: 200px;
    font-size: 16px;
    margin-right: 13px;
  }
}
.silver-heading {
  font-size: 11px;
  color: white;
  text-align: center;
}

.logo {
  color: white;
  font-size: 10px;
  font-family: 'ROBOTO';
  border: 1px solid white;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: 6px;
  padding-left: 3px;
  padding-right: 3px;
}
.silver-button {
  background-color: red;
  height: 8vh;
  width: 27vh;
  border-radius: 10px;
  margin-top: 17px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .silver-button {
    margin-left: 25px;
  }
}
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  background-color: #ffffff;
  border-style: solid;
  border-width: 3px;
  border-color: #511aad;
  border-right: none;
  border-left: none;
  border-bottom: none;
  border-radius: 6px;
  padding: 10px;
  margin: 20px;
}

@media screen and (min-width: 768px) {
  .form-container {
    width: 400px;
    flex-shrink: 0;
    box-shadow: 0px 8px 40px rgba(7, 7, 7, 0.08);
    padding: 20px;
    margin-right: 20px;
  }
}
.form-note {
  font-size: 20px;
  font-family: 'Roboto';
  text-align: center;
  padding-top: 0px;
}
.input-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
}

.input-label {
  margin-bottom: 0px;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  color: #475569;
}

.email-input-field {
  font-size: 14px;
  height: 40px;
  border: 1px solid #d7dfe9;

  color: #64748b;
  border-radius: 2px;
  margin-top: 5px;
  padding: 8px 16px 8px 16px;
  outline: none;
}

.phone-input-field {
  font-size: 14px;
  height: 40px;
  border: 1px solid #d7dfe9;
  color: #64748b;
  border-radius: 4px;
  margin-top: 5px;
  padding: 8px 16px 8px 16px;
  outline: none;
}

.call-button {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  height: 40px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 2px;
  background-color: #511aad;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  outline: none;
}

@media screen and (min-width: 768px) {
  .mobile-form {
    display: none;
  }
}
